<div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="text-body-emphasis text-decoration-none" href="#">My App</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis" routerLink="" ><i class="fa-solid fa-house"></i>Home</a>
        <!-- <a class="nav-item nav-link link-body-emphasis" routerLink="/route-2">Routes 2</a> -->
        <a class="nav-item nav-link link-body-emphasis" routerLink="/forms">Forms</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/material">Material</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/forms2">Reactive Forms</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/modal">Modal</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/moment">Moment</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/charts">Charts</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/services">Services</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/localstorage">Local Storage</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/sessionstorage">Session Storage</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/cookie">Cookies</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/rest-api">REST API</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/login">Login</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/signup">Sign Up</a>
        <a class="nav-item nav-link link-body-emphasis" routerLink="/access-restriction">Restrictions</a>
      </nav>
    </div>
  </div>
  