<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" routerLink="">Home</li>
        <li class="breadcrumb-item active" routerLink="/material">Material</li>
        <li class="breadcrumb-item active" routerLink="/material/tabs">Tabs</li>
    </ol>
</nav>
<h3>Card views</h3>
<div style="width: 70%; margin: 0 auto;">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Card 1</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Card 2</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>