<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" routerLink="">Home</li>
        <li class="breadcrumb-item active" routerLink="/material">Material</li>
        <li class="breadcrumb-item active" routerLink="/material/tabs">Tabs</li>
    </ol>
</nav>
<h3>Tabs</h3>
<mat-tab-group>
    <mat-tab label="Django">
        <div class="content">
            <p>
                <img src="/assets/images/python.jpg" width="400px" height="300px">
            </p>
            <p> Django is a free and open-source, Python-based web framework that runs on a web server. It follows the model–template–views (MTV) architectural pattern.[6][7] It is maintained by the Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3) non-profit. </p>
        </div>
    </mat-tab>
    <mat-tab label="Java">
        <div class="content">
            <p>
                <img src="/assets/images/java.png" width="400px" height="300px">
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Java Script">
        <div class="content">
            <p>
                <img src="/assets/images/js.png" width="400px" height="300px">
            </p>
        </div>
    </mat-tab>
</mat-tab-group>