<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" routerLink="">Home</li>
        <li class="breadcrumb-item active" routerLink="/material">Material</li>
        <li class="breadcrumb-item active" routerLink="/material/tabs">Tabs</li>
    </ol>
</nav>
<h3>Expansion Panel</h3>
<div style="width: 70%; margin: 0 auto;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Item 1</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        Any text.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Item 2</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        Any other text.
    </mat-expansion-panel>
</div>