<h1>Login</h1>

<form #formDir="ngForm" [formGroup]="reactiveForm">

    <div class="cross-validation"
        [class.cross-validation-error]=" reactiveForm.errors?.['ValidatorDirective'] && reactiveForm.invalid && (reactiveForm.touched || reactiveForm.dirty)">

        <div class="mb-3">
            <label for="email">Email: </label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email" required="">

            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                <div *ngIf="email?.errors?.['required']">
                    The field name is mandatory.
                </div>
                <div *ngIf="email?.errors?.['minlength']">
                    Email must be at least 8 chars long.
                </div>
                <div *ngIf="email?.errors?.['pattern']">
                    Email must have a valid format.
                </div>
            </div>

        </div>

        <div class="mb-3">
            <label for="password">Password: </label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password" required="">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password?.errors?.['required']">
                    The field name is mandatory.
                </div>
                <div *ngIf="password?.errors?.['pattern']">
                    Password must contain at least eight characters, at least one number and both lower and uppercase
                    letters and special characters
                </div>
            </div>
        </div>

    </div>

    <hr>
    <button type="button" class="btn btn-primary" [disabled]="reactiveForm.invalid"
    (click)="sendData()" [disabled]="reactiveForm.invalid"> Log In </button>
</form>